/* ______________________________________ Start Variables ______________________________________ */

/* fonts */
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-VariableFont_slnt\wght.ttf);
}

:root {
  /* colors */
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --text-color: #777;
  --border-color: #ccc;
  --light-color: #eee;
  /* shadows */
  --main-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  /* backgrounds */
  --main-background-color: #fafafa;
  --secondary-background-color: #ececec;
  /* paddings */
  --section-padding: 100px;
  /* line-height */
  --paragraph-line-height: 2;
  --secondary-line-height: 1.5;
  /* Transition */
  --main-transition-duration: 0.5s;
  /* animiation */
  --main-animation-duration: 2s;
  --secondary-animation-duration: 1.5s;
  /* border-radius */
  --main-border-radius: 5px;
  --secondary-border-radius: 3px;
  /* height */
  --header-height: 70px;
  /* gaps */
  --main-grid-gap: 40px;
}

/* ______________________________________ End Variables ______________________________________ */

/* ______________________________________ Start Global Rules ______________________________________ */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Always do this, for margin and padding */
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: cairo;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input[type="submit"] {
  cursor: pointer;
}

/* -------------------- Start Contaier -------------------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  /* so the the elements won't start form the edge of the screen, even if the screen is small. */
  margin-right: auto;
  margin-left: auto;
}

/* These medias are bootstrap 3 code */
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
    /* If this value is > 768px we will scroll, and this is wrong */
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
    /* If this value is > 992px we will scroll, and this is wrong */
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    /* If this value is > 1200px we will scroll, and this is wrong */
  }
}

/* ______________________________________ End Global Rules ______________________________________ */

/* ______________________________________ Start Components ______________________________________ */

/* -------------------- Start Main Title -------------------- */
.main-title {
  width: fit-content;
  border: 2px solid black;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-bottom: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-duration: var(--main-transition-duration);
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  background: var(--main-color);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: var(--main-transition-duration);
  z-index: -1;
}

.main-title::before {
  left: -40px;
}

.main-title::after {
  right: -40px;
}

.main-title:hover::after,
.main-title:hover::before {
  border: none;
  border-radius: 0;
  width: calc(50% + 1px);
  height: 100%;
}

.main-title:hover::before {
  left: 0;
}

.main-title:hover::after {
  right: 0;
}

/* ______________________________________ End Components ______________________________________ */

/* ______________________________________ Start Header ______________________________________ */

header {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

/* ------------------ Logo ------------------ */
header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.5rem;
  transition-duration: var(--main-transition-duration);
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo:hover {
  color: var(--main-color-alt);
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}

/* ------------------ Main Nav ------------------ */
header .main-nav {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  header .main-nav {
    width: 100%;
  }
}

header .main-nav > li > a {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  padding: 0 20px;
  position: relative;
  transition-duration: var(--main-transition-duration);
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    font-size: 0.8rem;
    height: 30px;
    padding: 10px;
    justify-content: flex-start;
    margin-top: -10px;
  }
}

header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

header .main-nav > li > a::before {
  content: "";
  background-color: var(--main-color);
  height: 3px;
  width: 0px;
  transition-duration: var(--main-transition-duration);
  position: absolute;
  top: 0px;
  left: 0;
}

header .main-nav > li > a:hover::before {
  width: 100%;
}

/* ------------------ Mega Menu ------------------ */
header .meag-menu {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 30px;
  width: 100%;
  padding: 30px 10px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  top: calc(100% + 100px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: var(--main-transition-duration);
}

header .main-nav > li:last-of-type:hover .meag-menu {
  pointer-events: auto;
  visibility: visible;
  top: calc(100% + 1px);
  opacity: 1;
}

header .meag-menu img {
  grid-column: 1 / 3;
  max-width: 100%;
}

@media (max-width: 1199px) {
  header .meag-menu img {
    grid-column: 1;
  }
}

@media (max-width: 991px) {
  header .meag-menu img {
    display: none;
  }
}

header .meag-menu .other-links li {
  position: relative;
  overflow: hidden;
}

header .meag-menu .other-links li:not(:last-of-type) {
  border-bottom: 1px solid var(--secondary-background-color);
}

@media (max-width: 767px) {
  header .meag-menu .other-links:first-of-type {
    border-bottom: 1px solid var(--secondary-background-color);
  }
}

header .meag-menu .other-links li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  z-index: -1;
  background-color: var(--main-background-color);
  transition-duration: var(--main-transition-duration);
}

header .meag-menu .other-links li:hover::after {
  left: 0;
}

header .meag-menu .other-links li a {
  text-transform: capitalize;
  color: var(--main-color);
  font-size: 1rem;
  display: block;
  padding: 15px 10px;
  font-weight: bold;
}

@media (max-width: 767px) {
  header .meag-menu .other-links li a {
    padding: 5px;
  }
}

header .meag-menu .other-links li a i {
  margin-right: 10px;
}

/* ______________________________________ End Header ______________________________________ */

/* ______________________________________ Start Landing ______________________________________ */

.landing {
  position: relative;
  background-color: var(--secondary-background-color);
  overflow: hidden;
}

.landing::after {
  content: "";
  position: absolute;
  bottom: -100px;
  width: calc(100% + 100px);
  height: 200px;
  background-color: white;
  rotate: -5deg;
}

.landing .container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

/* ------------------ Text ------------------ */
.landing .text {
  flex: 1;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h2 {
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .landing .text h2 {
    font-size: 1.5rem;
  }
}

.landing .text p {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: var(--paragraph-line-height);
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 1rem;
  }
}

/* ------------------ Image ------------------ */
.landing .image img {
  width: 600px;
  max-width: 100%;
  animation-name: up-and-down;
  animation-duration: var(--main-animation-duration);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

/* ------------------ Arrow ------------------ */
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  /* bottom: 30px; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation-name: bouncing;
  animation-duration: var(--secondary-animation-duration);
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  transition-duration: var(--main-transition-duration);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down i {
  font-size: 1.5rem;
}

/* ______________________________________ End Landing ______________________________________ */

/* ______________________________________ Start Articles ______________________________________ */

.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.articles .article {
  border-radius: var(--main-border-radius);
  overflow: hidden;
  box-shadow: 0 2px 15px hsla(0, 0%, 0%, 0.1);
  background-color: white;
  transition: transform var(--main-transition-duration),
    box-shadow var(--main-transition-duration);
}

.articles .article:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px hsla(0, 0%, 0%, 0.2);
}

.articles .article > :not(img) {
  padding-left: 10px;
  padding-right: 10px;
}

.articles .article img {
  max-width: 100%;
}

.articles .article .content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.articles .article .content h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.articles .article .content p {
  color: var(--text-color);
  line-height: var(--secondary-line-height);
}

.articles .article .info {
  position: relative;
  color: var(--main-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--secondary-background-color);
}

.articles .article .info a {
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: bold;
}

.articles .article .info i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.articles .article:hover .info i {
  animation-iteration-count: infinite;
  animation-name: left-and-right;
  animation-duration: calc(var(--main-animation-duration) / 2);
  animation-timing-function: linear;
}

/* ______________________________________ End Articles ______________________________________ */

/* ______________________________________ Start Galary ______________________________________ */

.galary {
  background-color: var(--secondary-background-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.galary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-grid-gap);
}

.galary .box {
  background-color: white;
  padding: 15px;
  box-shadow: var(--main-box-shadow);
}

.galary .box .image {
  overflow: hidden;
  position: relative;
}

.galary .box .image:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255 255 255 / 20%);
  z-index: 1;
  opacity: 0;
}

.galary .box:hover .image:after {
  animation: flashing calc(var(--main-animation-duration) / 2);
}

.galary .box img {
  max-width: 100%;
  transition-duration: var(--main-transition-duration);
}

.galary .box:hover .image img {
  transform: rotate(5deg) scale(1.15);
}

/* ______________________________________ End Galary ______________________________________ */

/* ______________________________________ Start languages ______________________________________ */

.languages {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}

.languages .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-grid-gap);
}

.languages .language {
  border: 1px solid var(--border-color);
  text-align: center;
  box-shadow: var(--main-box-shadow);
}

.languages .language .img-holder {
  position: relative;
  overflow: hidden;
}

.languages .language .img-holder::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 0px 0px 150px 700px;
  transition-duration: calc(var(--main-transition-duration) / 2);
  z-index: 3;
}

.languages .language:hover .img-holder::before {
  left: 0;
  border-width: 0px 700px 100px 0px;
}

.languages .language .img-holder::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  opacity: 0.35;
  transition-duration: calc(var(--main-transition-duration) / 2);
}

.languages .language:hover .img-holder::after {
  opacity: 0.3;
}

.languages .english .img-holder::after {
  background-color: orangered;
}

.languages .arabic .img-holder::after {
  background-color: green;
}

.languages .german .img-holder::after {
  background-color: var(--main-color);
}

.languages .language .img-holder img {
  max-width: 100%;
}

.languages .language h2 {
  text-transform: capitalize;
  width: fit-content;
  margin: 0 auto 40px;
  font-size: 40px;
  padding-bottom: 20px;
  position: relative;
}

.languages .language h2:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: calc(var(--main-transition-duration) / 2);
}

.languages .language:hover h2:after {
  width: 120%;
}

.languages .english h2:after {
  background-color: orangered;
}

.languages .arabic h2:after {
  background-color: green;
}

.languages .german h2:after {
  background-color: var(--main-color);
}

.languages .language p {
  padding: 0 30px;
  margin-bottom: 30px;
  color: var(--text-color);
  font-size: 20px;
  line-height: var(--paragraph-line-height);
}

.languages .language a {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 22px;
  background: transparent;
  display: block;
  max-width: fit-content;
  margin: 0 auto 20px;
  padding: 10px 30px;
  border: 3px solid transparent;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition-duration: calc(var(--main-transition-duration) / 2);
}

.languages .language:hover a {
  color: white;
}

.languages .language a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition-duration: calc(var(--main-transition-duration) / 2);
}

.languages .language:hover a::after {
  width: 100%;
}

.languages .english a::after {
  background-color: orangered;
}

.languages .arabic a::after {
  background-color: green;
}

.languages .german a::after {
  background-color: var(--main-color);
}

.languages .english a {
  color: orangered;
  border-color: orangered;
}

.languages .arabic a {
  color: green;
  border-color: green;
}

.languages .german a {
  color: var(--main-color);
  border-color: var(--main-color);
}

/* ______________________________________ End languages ______________________________________ */

/* ______________________________________ Start Testimonials ______________________________________ */

.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-background-color);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-grid-gap);
}

.testimonials .testimonial {
  background-color: white;
  padding: 20px;
  border-radius: var(--main-border-radius);
  position: relative;
  box-shadow: var(--main-box-shadow);
  transition-duration: var(--main-transition-duration);
  z-index: 0;
}

.testimonials .testimonial:hover {
  color: white;
}

.testimonials .testimonial:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  border-radius: inherit;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  transition-duration: var(--main-transition-duration);
  z-index: -1;
}

.testimonials .testimonial:hover:after {
  width: 100%;
}

.testimonials .testimonial img {
  object-fit: cover;
  background-color: var(--secondary-background-color);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 10px solid var(--secondary-background-color);
  transition-duration: var(--main-transition-duration);
}

.testimonials .testimonial:hover img {
  top: 25px;
}

.testimonials .testimonial h3 {
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  transition-duration: var(--main-transition-duration);
}

.testimonials .testimonial:hover h3 {
  color: white;
}

.testimonials .testimonial span {
  text-transform: capitalize;
  color: var(--text-color);
  display: block;
  margin-bottom: 10px;
  transition-duration: var(--main-transition-duration);
}

.testimonials .testimonial:hover span {
  color: white;
}

.testimonials .testimonial .rate {
  margin-bottom: 10px;
}

.testimonials .testimonial .rate .filled {
  color: #ffc107;
}

.testimonials .testimonial p {
  color: var(--text-color);
  font-size: 0.9rem;
  line-height: var(--secondary-line-height);
  transition-duration: var(--main-transition-duration);
}

.testimonials .testimonial:hover p {
  color: white;
}

/* ______________________________________ End Testimonials ______________________________________ */

/* ______________________________________ Start Favorite Games ______________________________________ */

.favorite-games {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.favorite-games .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 100px 50px;
}

.favorite-games .box {
  padding-bottom: 10px;
  position: relative;
}

.favorite-games .box::after,
.favorite-games .box::before {
  content: "";
  position: absolute;
  border-radius: var(--main-border-radius);
  height: 100%;
  right: 0;
  top: 0;
}

.favorite-games .box::after {
  width: calc(100% - 50px);
  background-color: var(--secondary-background-color);
  z-index: -2;
}

.favorite-games .box::before {
  width: 0%;
  background-color: var(--main-color);
  z-index: -1;
  transition-duration: var(--main-transition-duration);
  transition-timing-function: linear;
  transition-delay: calc(var(--main-transition-duration) - 0.3s);
}

.favorite-games .box:hover:before {
  width: calc(100% - 50px);
  transition-delay: 0s;
}

.favorite-games .box .data {
  padding-top: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.favorite-games .box .data::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
  top: 50px;
  right: calc(100% - 50px);
  width: 0;
  height: calc(100% - 50px);
  z-index: -2;
  transition-timing-function: linear;
  transition-duration: calc(var(--main-transition-duration) / 2);
  transition-delay: 0s;
}

.favorite-games .box:hover .data::after {
  top: 45px;
  height: calc(100% - 40px);
  width: 55px;
  transition-delay: calc(var(--main-transition-duration) - 0.12s);
}

.favorite-games .box .data img {
  width: calc(100% - 50px);
  border-radius: var(--main-border-radius);
  transition-duration: var(--main-transition-duration);
}

.favorite-games .box:hover .data img {
  filter: grayscale(50%);
}

.favorite-games .box .data .social-links {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.favorite-games .box .data .social-links a {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-games .box .data .social-links i {
  color: var(--main-color);
  transition-duration: var(--main-transition-duration);
}

.favorite-games .box:hover .data .social-links i {
  color: white;
  transition-duration: var(--main-transition-duration);
}

.favorite-games .box .data .social-links a:hover i {
  color: black;
}

.favorite-games .box .info {
  padding-left: 65px;
}

.favorite-games .box .info h3 {
  text-transform: capitalize;
  color: var(--main-color);
  margin: 10px 0;
  transition-duration: var(--main-transition-duration);
}

.favorite-games .box:hover .info h3 {
  color: white;
}

.favorite-games .box .info p {
  color: var(--text-color);
  transition-duration: var(--main-transition-duration);
}

.favorite-games .box:hover .info p {
  color: white;
}

/* ______________________________________ End Favorite Games ______________________________________ */

/* ______________________________________ Start soft-skills Section ______________________________________ */

.soft-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-background-color);
}

.soft-skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-grid-gap);
}

.soft-skills .skill {
  position: relative;
  background-color: white;
  box-shadow: var(--main-box-shadow);
  text-align: center;
  transition-duration: var(--main-transition-duration);
  counter-increment: soft-skills;
}

.soft-skills .skill:hover {
  transform: translateY(-10px);
}

.soft-skills .skill::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 3px;
  width: 0;
  bottom: 100%;
  left: 50%;
  transition-duration: var(--main-transition-duration);
}

.soft-skills .skill:hover::before {
  width: 100%;
  left: 0;
}

.soft-skills .skill i {
  display: block;
  margin: 30px 0 20px;
  color: #d5d5d5;
}

.soft-skills .skill h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--main-color);
  margin-bottom: 30px;
}

.soft-skills .skill .info {
  position: relative;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: right;
  z-index: 0;
  overflow: hidden;
}

.soft-skills .skill .info:before {
  content: "0" counter(soft-skills);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding-right: 15px;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.soft-skills .skill .info:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: #d5d5d5;
  left: 80px;
  bottom: 0;
  transform: skewX(-30deg);
  z-index: -1;
}

.soft-skills .skill .info a {
  color: var(--main-color);
}

/* ______________________________________ End soft-skills Section ______________________________________ */

/* ______________________________________ Start technical-skills Section ______________________________________ */

.technical-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-background-color);
}

.technical-skills .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.technical-skills img {
  padding-top: 40px;
  animation: up-and-down var(--main-animation-duration) linear infinite
    alternate;
}

@media (max-width: 991px) {
  .technical-skills img {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .technical-skills img {
    display: none;
  }
}

.technical-skills .skills {
  flex: 1;
}

.technical-skills .skills .skill {
  display: flex;
  flex-direction: column;
}

.technical-skills .skills .skill:not(:last-of-type) {
  margin-bottom: 10px;
}

.technical-skills .skills .skill .skill-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.technical-skills .skills .skill .skill-info h3 {
  padding-left: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--main-transition-duration);
}

.technical-skills .skills .skill:hover .skill-info h3 {
  color: var(--main-color);
}

.technical-skills .skills .skill .skill-info h3 i {
  margin-right: 10px;
  font-size: 2rem;
}

.technical-skills .skills .skill .skill-info span {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: var(--secondary-border-radius);
  font-size: 0.8rem;
  color: var(--main-color);
  transition-duration: var(--main-transition-duration);
}

.technical-skills .skills .skill:hover .skill-info span {
  color: white;
  background-color: var(--main-color);
}

.technical-skills .skills .skill .progress {
  flex-grow: 1;
  background-color: var(--secondary-background-color);
  height: 30px;
  position: relative;
}

.technical-skills .skills .skill .progress span {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* ______________________________________ End technical-skills Section ______________________________________ */

/* ______________________________________ Start My-Works Section ______________________________________ */

.my-works {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-background-color);
}

.my-works .container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.my-works .main-image {
  animation: up-and-down var(--main-animation-duration) linear infinite
    alternate;
}

@media (max-width: 991px) {
  .my-works .main-image {
    display: none;
  }
}

.my-works .works {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.my-works .works .work {
  border-radius: var(--main-border-radius);
  border: 2px solid white;
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.my-works .works .work:after {
  content: "";
  position: absolute;
  background-color: var(--secondary-background-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition-duration: var(--main-transition-duration);
  z-index: -1;
}

.my-works .works .work:hover:after {
  width: 100%;
  height: 100%;
}

.my-works .works .work img {
  width: 65px;
}

.my-works .works .work .text h3 {
  font-size: 1.2rem;
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.my-works .works .work .text p {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  line-height: var(--secondary-line-height);
}

.my-works .works .work .text p a {
  font-size: 0.7rem;
  margin-top: 5px;
  align-self: flex-end;
  color: white;
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: var(--main-border-radius);
  transition-duration: var(--main-transition-duration);
}

.my-works .works .work:hover .text p a {
  color: var(--main-color);
  background-color: #f5f5f5;
}

/* ______________________________________ End My-Works Section ______________________________________ */

/* ______________________________________ Start PES-Career Section ______________________________________ */

.pes-career {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pes-career .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.pes-career .career {
  display: flex;
  align-items: center;
  gap: 50px;
}

@media (max-width: 991px) {
  .pes-career .career {
    flex-direction: column;
  }
}

.pes-career .career .career-image {
  min-width: 300px;
  height: 300px;
  animation: up-and-down var(--main-animation-duration) linear infinite
    alternate;
  position: relative;
}

.pes-career .career .career-image::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  border-radius: var(--main-border-radius);
  width: 35%;
  height: calc(100% + 30px);
  left: -15px;
  top: -15px;
  transition-duration: var(--main-transition-duration);
  z-index: -1;
  animation: shrink-and-grow var(--main-animation-duration) linear infinite
    alternate;
}

.pes-career .career .career-image::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  border-radius: var(--main-border-radius);
  width: 40%;
  height: 40%;
  bottom: -15px;
  right: -15px;
  transition-duration: var(--main-transition-duration);
  z-index: -1;
  animation: grow-and-shrink var(--main-animation-duration) linear infinite
    alternate;
}

.pes-career .career .career-image img {
  border-radius: var(--main-border-radius);
  width: 100%;
  height: 100%;
}

.pes-career .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.pes-career .info .counter {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pes-career .info .counter .unit {
  border: 1px solid #d4d4d4;
  border-radius: var(--main-border-radius);
  transition-duration: var(--main-transition-duration);
}

.pes-career .info .counter .unit:hover {
  border-color: var(--main-color);
}

.pes-career .info .counter .unit span {
  display: block;
}

.pes-career .info .counter .unit span:first-of-type {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: 1px solid #d4d4d4;
  transition-duration: var(--main-transition-duration);
}

.pes-career .info .counter .unit:hover span:first-of-type {
  border-color: var(--main-color);
}

.pes-career .info .counter .unit span:last-of-type {
  font-size: 0.7rem;
  padding: 5px 10px;
}

.pes-career .info .title {
  font-size: 1.5rem;
}

.pes-career .info .details {
  color: var(--text-color);
  line-height: var(--secondary-line-height);
}

/* ------------------------ Start Email Section ------------------------ */

.pes-career .join-us {
  width: 700px;
  display: flex;
  gap: 20px;
  background-color: var(--secondary-background-color);
  padding: 30px;
  border-radius: 40px;
}

@media (max-width: 767px) {
  .pes-career .join-us {
    width: 100%;
    flex-direction: column;
    border-radius: var(--main-border-radius);
  }
}

.pes-career .join-us input {
  padding: 10px 20px;
  border-radius: inherit;
}

.pes-career .join-us input[type="email"] {
  flex-grow: 1;
  border: 1px solid var(--main-color);
  caret-color: var(--main-color);
  color: var(--main-color);
}

.pes-career .join-us input[type="email"]:focus {
  outline: none;
}

.pes-career .join-us input[type="email"]::placeholder {
  transition-duration: var(--main-transition-duration);
}

.pes-career .join-us input[type="email"]:focus::placeholder {
  opacity: 0;
}

.pes-career .join-us input[type="submit"] {
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  border: none;
  transition-duration: var(--main-transition-duration);
}

.pes-career .join-us input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

/* ------------------------ End Email Section ------------------------ */

/* ______________________________________ End PES-Career Section ______________________________________ */

/* ______________________________________ Start Compitions Won Section ______________________________________ */

.achievements {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-background-color);
}

.achievements .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-grid-gap);
}

.achievements .compition {
  box-shadow: var(--main-box-shadow);
  padding: 30px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.achievements .compition:before,
.achievements .compition:after {
  content: "";
  position: absolute;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 50%;
  z-index: -1;
  transition-duration: var(--main-transition-duration);
}

.achievements .compition:before {
  left: -100%;
  top: 0;
}

.achievements .compition:hover:before {
  left: 0;
}

.achievements .compition:after {
  right: -100%;
  bottom: 0;
}

.achievements .compition:hover:after {
  right: 0;
}

@media (min-width: 1200px) {
  .achievements .compition.most-won {
    top: -20px;
  }
}

.achievements .compition.most-won .label {
  display: block;
  width: 40px;
  writing-mode: vertical-rl;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  padding: 20px 10px;
  position: absolute;
  top: 0;
  right: 20px;
}

.achievements .compition.most-won .label:before,
.achievements .compition.most-won .label:after {
  content: "";
  position: absolute;
  top: 100%;
  border-style: solid;
  border-width: 10px;
}

.achievements .compition.most-won .label:after {
  left: 0;
  border-color: var(--main-color) transparent transparent var(--main-color);
}

.achievements .compition.most-won .label:before {
  right: 0;
  border-color: var(--main-color) var(--main-color) transparent transparent;
}

.achievements .compition .name {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 70px;
}

.achievements .compition img {
  width: 150px;
}

.achievements .compition .number-won {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.achievements .compition .number-won :first-child {
  font-size: 4rem;
  color: var(--main-color);
}

.achievements .compition .number-won :last-child {
  text-transform: capitalize;
  color: var(--text-color);
}

.achievements .compition .seasons-of-winning {
  width: 100%;
  margin-bottom: 100px;
}

.achievements .compition .seasons-of-winning li {
  display: block;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid var(--light-color);
}

.achievements .compition .seasons-of-winning li:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: var(--main-color);
  margin: 0 15px;
}

.achievements .compition .more-details {
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: bold;
  display: block;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  border-radius: var(--main-border-radius);
  position: absolute;
  bottom: 30px;
  transition-duration: var(--main-transition-duration);
}

.achievements .compition .more-details:hover {
  background-color: var(--main-color-alt);
  color: white;
}

/* ______________________________________ End Compitions Won Section ______________________________________ */

/* ______________________________________ Start Certificates Section ______________________________________ */

.certificates {
  padding: var(--section-padding) 0px;
}

.certificates .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificates .image {
  height: 500px;
  display: flex;
  /* border: 10px solid var(--main-color); */
  border-radius: var(--main-border-radius);
  /* overflow: hidden; */
  position: relative;
  z-index: 0;
}

@media (max-width: 991px) {
  .certificates .image {
    height: auto;
    width: 90%;
  }
}

.certificates .image:before,
.certificates .image:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100px;
  height: calc(100% + 40px);
  border-radius: var(--main-border-radius);
  top: -20px;
  z-index: -1;
}

.certificates .image:before {
  left: -20px;
}

.certificates .image:after {
  right: -20px;
}

@media (max-width: 767px) {
  .certificates .image:before,
  .certificates .image:after {
    width: 50px;
    height: calc(100% + 20px);
    top: -10px;
  }

  .certificates .image:before {
    left: -10px;
  }

  .certificates .image:after {
    right: -10px;
  }
}

.certificates .image img {
  border-radius: var(--main-border-radius);
  height: 100%;
  width: 100%;
}

/* ______________________________________ End Certificates Section ______________________________________ */

/* ______________________________________ Start Quizlet-Contributions Section ______________________________________ */

.quizlet-contributions {
  padding: var(--section-padding) 0 0;
  background-color: var(--secondary-background-color);
}

/* ---------------- start stats section ---------------- */

.quizlet-contributions .stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--main-grid-gap);
  margin-bottom: 100px;
}

.quizlet-contributions .stats .box {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 30px;
  background-color: var(--main-background-color);
  position: relative;
  opacity: 0.8;
  transition-duration: var(--main-transition-duration);
}

.quizlet-contributions .stats .box:hover {
  opacity: unset;
}

.quizlet-contributions .stats .box:before,
.quizlet-contributions .stats .box:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition-duration: var(--main-transition-duration);
}

.quizlet-contributions .stats .box:hover:before,
.quizlet-contributions .stats .box:hover:after {
  height: 100%;
}

.quizlet-contributions .stats .box:before {
  left: 0;
  bottom: 0;
}

.quizlet-contributions .stats .box:after {
  right: 0;
  top: 0;
}

.quizlet-contributions .stats .box i {
  font-size: 30px;
}

.quizlet-contributions .stats .box .number {
  margin: 10px 0;
  font-weight: 700;
  font-size: 2.5rem;
}

.quizlet-contributions .stats .box .title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--main-color);
}

/* ---------------- end stats section ---------------- */

/* ---------------- start holder section ---------------- */
.quizlet-contributions .holder {
  display: flex;
}

@media (max-width: 991px) {
  .quizlet-contributions .holder {
    flex-direction: column;
  }
}

.quizlet-contributions .holder > div {
  padding: 100px 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .quizlet-contributions .holder > div {
    width: 100%;
  }
}

.quizlet-contributions .holder > div > h3 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 30px;
  position: relative;
}

/* left section */
.quizlet-contributions .holder .left-section {
  color: white;
  background-image: url(../images/discount-background1.jpg);
  text-align: center;
  position: relative;
  z-index: 0;
}

.quizlet-contributions .holder .left-section:after {
  content: "";
  position: absolute;
  background-color: rgb(23 135 224 / 97%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;  
}

.quizlet-contributions .holder .right-section {
  background-color: white;
}

.quizlet-contributions .holder .left-section p {
  line-height: var(--paragraph-line-height);
  font-size: 1.1rem;
}

.quizlet-contributions .holder .left-section a {
  width: 80%;
}

.quizlet-contributions .holder .left-section img {
  max-width: 100%;
  margin-bottom: -100px;
}

/* right section */
.quizlet-contributions .right-section .quizlet-classes {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.quizlet-contributions .right-section > h3:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: calc(100% + 20px);
  height: 5px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quizlet-contributions .right-section .quizlet-class {
  border: 3px solid var(--secondary-background-color);
  width: 100%;
  position: relative;
  background-color: var(--secondary-background-color);
  border-radius: var(--main-border-radius);
  padding: 10px;
  z-index: 0;
}

.quizlet-contributions .right-section .quizlet-class:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: var(--main-transition-duration);
  z-index: -1;
}

.quizlet-contributions .right-section .quizlet-class:hover:after {
  height: 100%;
  width: 100%;
}

.quizlet-contributions .right-section .quizlet-class h4 {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.quizlet-contributions .right-section .quizlet-class p {
  color: var(--text-color);
  margin-bottom: 35px;
  font-size: 0.8rem;
  line-height: var(--secondary-line-height);
}

.quizlet-contributions .right-section .quizlet-class a {
  text-transform: capitalize;                                                               
  position: absolute;
  font-size: 0.7rem;
  padding: 5px 10px;
  color: var(--main-color);
  background-color: white;
  border-radius: var(--secondary-border-radius);
  right: 10px;
  bottom: 10px;
  transition-duration: var(--main-transition-duration);
}

.quizlet-contributions .right-section .quizlet-class:hover a {
  color: white;
  background-color: var(--main-color);
}

/* ---------------- end holder section ---------------- */

/* ______________________________________ End Quizlet-Contributions Section ______________________________________ */

/* ______________________________________ Start Animation ______________________________________ */
@keyframes up-and-down {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes grow-and-shrink {
  100% {
    width: 50%;
    height: 50%;
  }
}

@keyframes shrink-and-grow {
  100% {
    width: 25%;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 40px;
  }
  40%,
  60% {
    bottom: 20px;
  }
}

@keyframes left-and-right {
  0% {
    right: 10px;
  }
  50% {
    right: 20px;
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* ______________________________________ End Animation ______________________________________ */
